.test-fg-red {
  color: red;
  background: white;
}

.test-fg-white {
  background: black;
  color: white;
}

.test-display-block {
  display: block;
}

.test-full-width {
  width: 100%;
}

.test-flex {
  display: flex;
}

.test-flex-row {
  display: flex;
  flex-wrap: wrap;
}

.test-button:hover {
  background: pink;
}
